<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.probe.probe"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <provider android:name="com.probe.probe.provider.UltCalcDbProvider"
            android:authorities="com.probe.probe.provider.UltCalculator"
            android:exported="false">
            
        </provider>
        
        <activity
            android:name="com.probe.probe.MainActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".Menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.probe.probe.FragmentLayout"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.FRAGMENTLAYOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.probe.probe.FragmentLayout$DetailsActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.FRAGMENTLAYOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.probe.probe.CalculatorLayout"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.CALCULATORLAYOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.probe.probe.EditTextProbe"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.EDITTEXTPROBE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.probe.probe.BorderlessButtons"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.BORDERLESSBUTTONS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.probe.probe.Buttons"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.BUTTONS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.probe.probe.ScreenSize"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SCREENSIZE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.probe.probe.MyGridLayout"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MYGRIDLAYOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.probe.probe.ActionBarTest"
            android:exported="false"
            android:label="@string/ActionBarTest_label" >
            <intent-filter>
                <action android:name="android.intent.action.ACTIONBARTEST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.probe.probe.ActionBarVariablesTest"
            android:exported="false"
            android:label="@string/ActionBarVariablesTest_label"
            android:parentActivityName="com.probe.probe.ActionBarTest" >
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.probe.probe.ActionBarTest"/>
            
            <intent-filter>
                <action android:name="android.intent.action.ACTIONBARVARIABLESTEST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.probe.probe.calculator.VariablesActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VARIABLESACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.probe.probe.ListActivityTest"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.LISTACTIVITYTEST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.probe.probe.calculator.MemoryActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MEMORYACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.probe.probe.calculator.UserFunctionsActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.USERFUNCTIONSACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.probe.probe.ViewPagerActivity"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEWPAGERACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.probe.probe.ViewPagerActivityNestedFragments"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEWPAGERACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.probe.probe.PassingDataBetweenFragments"
            android:exported="false"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.PASSINGDATABETWEENFRAGMENTS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.probe.probe.PassingDataBetweenFragmentsRuntimeChanges"
            android:exported="false"
            android:label="@string/app_name" >
            
        </activity>
        
        <activity
            android:name="com.probe.probe.VariablesListFragmentSmallListActivity"
            android:exported="false"
            android:label="@string/app_name" >
            
        </activity>
        
        <activity
            android:name="com.probe.probe.ResourceManagerActivity"
            android:exported="false"
            android:label="@string/app_name" >
            
        </activity>
        
        <activity
            android:name="com.probe.probe.ScrollingButtonsBig"
            android:exported="false"
            android:label="@string/app_name" >
            
        </activity>
        
        <activity
            android:name="com.probe.probe.ScrollingButtonsSmall"
            android:exported="false"
            android:label="@string/app_name" >
            
        </activity>
        
        <activity
            android:name="com.probe.probe.FragmentReplacingContainterWithFragments"
            android:exported="false"
            android:label="@string/app_name" >
            
        </activity>
    </application>

</manifest>